@charset UTF-8;

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-image: linear-gradient(to right, #239DFA, #17FDE6);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(83, 85, 223, 0.904);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #080c7c;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(89, 130, 168, 0.952);
}

h2{
    color: #1453E3;
}

p {
    text-align: justify;

}